@font-face {
    font-family: "icomoon";
    src: url("./assets/fonts/icomoon.eot");
    src: url("./assets/fonts/icomoon.eot") format("embedded-opentype"),
    url("./assets/fonts/icomoon.ttf") format("truetype"),
    url("./assets/fonts/icomoon.woff") format("woff"),
    url("./assets/fonts/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*="icon-"] {
    font-family: "icomoon" !important;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
}

.icon-id-badge-fill::before {
    content: "\e900";
    color: #1e90ff;
}

.App {
    text-align: center;
}

